/* HEADER */

header {
    background: url('../img/background.jpg') no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
}

/* BODY */

body {
    margin: 0 auto;
}

/* LOGO CSS */

.logo {
    width: 30px;
    height: 30px;
}

/* Overlay the background */

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    min-height: 600px;
}

/* Navbar opacity */

.navbar {
    opacity: 0.8;
}

/* Search icon css */

.search-icon {
    font-size: 20px;
    padding: 2px;
}

.best-essay {
    background-color: #1c77c2;
}

/* Footer css */

footer {
    opacity: 0.8;
}

/* CARD CSS */

.card-title {
    color: #996;
}

.card-img-top {
    height: 225px;
}

.card-text {
    color: #435059;
    font-size: 14px;
}

.card-link {
    height: 120px;
}

.card-body {
    padding: 0;
    margin: 0
}

/* Helpful link section */

.link-icon {
    width: 60px;
    height: 50px;
}

/* Carousel-img */

.img-carousel {
    height: 400px;
}

@media screen and (max-width:768px) {
    .card {
        margin: 5px;
    }
    .best-essay {
        height: 175px;
        font-size: 10px;
    }
    .display-4 {
        font-size: 10px;
        padding: 0;
    }
    .card-link {
        height: auto;
        width: 100%;
        margin: 2px 2px 2px 1px;
    }
    #helpfullink {
        margin: 0;
    }
    .row>ul>li, #main-footer {
        opacity: 0.8;
        font-size: 10px;
    }
    .best-essay-online {
        font-size: 30px;
    }
}